<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <p class="h1 text-center text-success">ML First Project</p>
                <hr class="w-25 m-auto ">
            </div>
        </div>
    </div>
    <div class="container py-5">
        <div class="row">
            <div class="col-6">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRThbZmcruxGEqvApPHcZsng_AVvq6avg7WTQ&usqp=CAU" alt="" class="img-fluid">
            </div>
            <div class="col-6"> 

                <div class="card">
                    <div class="card-header bg-info">
                        <p class="h2 text-center">Server Performance</p>
                    </div>
                    <div class="card-body">
                        <form action="/predict" method="post">
                            <div class="form-group">
                                <input type="text" name="memory" class="form-control mt-2" placeholder="Memory %">
                                <input type="text" name="disk" class="form-control mt-2" placeholder="Disk %">
                                <input type="text" name="cpu" class="form-control mt-2" placeholder="Cpu %">
                                <input type="text" name="time" class="form-control mt-2" placeholder="Time in Min.">
                                <input type="submit" class="btn btn-success form-control mt-2" value="Check">

                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-6 offset-3">
                <div class="card">
                    <p class="h3 text-center text-info">Performance</p>
                    <hr class="w-25 m-auto">
                    <p style="font-size:120px; font-style:italic" class="text-center" id="per">{{data}}</p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>